{% extends 'dashboard/base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block title %}List category{% endblock %}

        {% block content %}
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid  dashboard-content">
                    <!-- ============================================================== -->
                    <!-- pageheader -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 d-flex justify-content-between col-12">
                            <div class="card" style="width: 18rem;">
                                <img src="{{product.baner_image.url}}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">{{product.name}}</h5>
                                  <p class="card-text">{{product.description}}</p>
                                </div>
                              </div>
                              <div class=""><a href="{% url 'dashboard:add_card_excel' product.id %}" class="btn btn-primary">Tovar enterlarini excelga qo`shish</a></div>
                        </div>
                    </div>

                    
                    <!-- ============================================================== -->
                    <!-- end pageheader -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <!-- ============================================================== -->
                        <!-- basic table  -->
                        <!-- ============================================================== -->
                        {% for enter in enters %}
                        <div class="col-1"></div>
                        <div class="card">
                            <div class="card-header">
                            {% if enter.quantity_enter_notation %}
                                <h3>Kirim</h3>
                            {% else %}    
                                <h3>Chiqim</h3>
                            {% endif %}
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">{{enter.quantity}} ta</h5>
                              <p class="card-text">{{enter.date}}</p>
                            </div>
                          </div>
                          {% endfor %}
                        <!-- ============================================================== -->
                        <!-- end basic table  -->
                        <!-- ============================================================== -->
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
        {% endblock %}

{% block js %}
<!-- js -->
{% endblock %}